.homeSubPages {
  background: #f8f9fa !important;
  color: #a9a9a9 !important;
}
.emailVerifyDiv {
  width: 500px;
  height: 275px;
  background: #3b5998;
  position: absolute;
  transform: translateY(200px);
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 10px 9px 33px 1px rgba(151, 150, 163, 1);
  -moz-box-shadow: 10px 9px 33px 1px rgba(151, 150, 163, 1);
  box-shadow: 10px 9px 33px 1px rgba(151, 150, 163, 1);
}
